.App {
  text-align: center !important;
  width: 100%;
}

.App-footer {
  position: fixed;
}
.App-footer, .App-header {
  padding: 18px;
  background-color: #630fce;
  display: flex;
  flex-direction: column;
  width: 100%;
  bottom: 0;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* overrides bootstrap margins */
.row {
  margin: 0;
}

/* Result Component */
.result {
  padding: 1.5rem 2.5rem;
}

.homeButton {
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 50px;
}

.answerButton {
  margin: 5px;
  border-radius: 50px;
  border: none !important;
}

/* QuestionCount Component */
.questionCount {
  padding: 1.5rem 2.5rem 0;
  font-size: 14px;
}

.answerOption:hover {
  background-color: #eefbfe;
}

/* .radioCustomButton {
  position: absolute;
  width: auto;
  opacity: 0;
}

.radioCustomButton,
.radioCustomLabel {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.radioCustomLabel {
  position: relative;
  margin: 0;
  padding: 1.5rem 2.5rem 1.5rem 5rem;
  font-size: 16px;
  line-height: 1.5;
}

.radioCustomButton ~ .radioCustomLabel:before {
  position: absolute;
  top: 20px;
  left: 38px;
  width: 28px;
  height: 28px;
  content: '';
  display: inline-block;
  vertical-align: middle;
  background: #fff;
  border: 1px solid #bbb;
  border-radius: 50%;
  transition: all 0.3s;
}

.radioCustomButton:checked ~ .radioCustomLabel:before {
  content: '';
  background-size: 27px;
  border-color: #8bc53f;
} 
*/

/* Animation */
  /* .fade-enter {
    opacity: 0;
  }

  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out 0.3s;
  }

  .fade-leave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
  }

  .fade-leave.fade-leave-active {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .fade-appear {
    opacity: 0;
  }

  .fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  } */
